S3method(converge,gauss)
S3method(fitted,gauss)
S3method(logLik,gauss)
S3method(simulate,gauss)
S3method(update,gauss)
export(bootstrap_trend)
export(compare)
export(converge)
export(get_replicates)
export(lik_ratios)
export(parameter_bootstraps)
export(roc_data)
export(stability_model)
export(summary_statistic)
export(warningtrend)
export(window_ar.ols)
export(window_autocorr)
export(window_cv)
export(window_kurtosi)
export(window_mean)
export(window_skew)
export(window_var)
import(deSolve)
import(plyr)
import(psych)
import(reshape2)
